.learnPage {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.learnPage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .learnPage > * {
    grid-column: 4;
  }
}
.landingPage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1024px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/copy_of_excell_website_final/images/contactUsBackground.png") top 50% left 50% / cover repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .landingPage {
    height: 1200px;
  }
}
.container2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 0;
  right: auto;
  bottom: auto;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 {
    top: auto;
    left: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }
}
.heading {
  display: flex;
  width: 100%;
  height: 39.73%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.heading > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kuGxu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kuGxu {
    padding-right: 8px;
  }
}
.freeBox__jvBv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jvBv {
    padding-left: 8px;
  }
}
.h1___2Ix {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #235936;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 300;
  align-self: center;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1___2Ix {
    font-size: 40px;
    text-align: center;
    margin: 0px;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
  background: #ffffff;
  align-content: center;
  color: var(--token-jqVColCgqWB_);
  left: 0px;
  top: 0px;
  z-index: 999;
  position: absolute;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    align-content: flex-start;
    justify-content: flex-end;
    line-height: 0;
    color: var(--token-jqVColCgqWB_);
    padding-bottom: 24px;
    padding-top: 16px;
    margin: 0px;
  }
}
.logo3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
  padding: 0px;
}
.img__tzGKj {
  object-fit: cover;
  width: 32px;
}
.img__tzGKj > picture > img {
  object-fit: cover;
}
.img__bJtrp {
  object-fit: cover;
  width: 32px;
}
.img__bJtrp > picture > img {
  object-fit: cover;
}
.link__oQlxy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  color: var(--token-jqVColCgqWB_);
  margin-right: 0px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.learnPage .link__oQlxy:hover {
  color: var(--token-T4EWqNTiWmkD);
  transform: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
.solution3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jqVColCgqWB_);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.learnPage .solution3:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.link__cgosX {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jqVColCgqWB_);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.learnPage .link__cgosX:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.logo4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo4 {
    display: none;
  }
}
.img__p1TQ7 {
  object-fit: cover;
  height: 64px;
  max-width: 298px;
  width: 100%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.img__p1TQ7 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__p1TQ7 {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__p1TQ7 > picture > img {
    object-fit: contain;
  }
}
.link__pcojo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-jqVColCgqWB_);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.learnPage .link__pcojo:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.link__jL4Uu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-jqVColCgqWB_);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.learnPage .link__jL4Uu:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.link__qI90P {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-jqVColCgqWB_);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__qI90P {
    padding-bottom: 24px;
  }
}
.learnPage .link__qI90P:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 320px;
  flex-direction: column;
  left: auto;
  top: auto;
  z-index: 0;
  background: var(--token-zBmTwGqtft9O);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 80px;
  margin: 0px;
}
.container > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    height: 120px;
    left: auto;
    top: auto;
    position: relative;
    flex-grow: 0;
    justify-self: auto;
    flex-shrink: 0;
    z-index: 1;
    width: 100%;
    min-width: 0;
    padding: 48px 24px;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.card {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 1280px;
  height: auto;
  max-width: 100%;
  box-shadow: 8px 8px 56px 0px #00000014;
  left: auto;
  top: -150%;
  z-index: 999;
  background: #ffffff;
  margin-bottom: 0px;
  margin-top: calc(0px + 16px) !important;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 24px;
  padding: 48px;
}
.card > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.card > :global(.__wab_flex-container) > *,
.card > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card > :global(.__wab_flex-container) > picture > img,
.card > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card {
    position: absolute;
    left: auto;
    top: -300%;
    margin-top: calc(0px + 16px) !important;
  }
}
.faQsTab:global(.__wab_instance) {
  width: 100%;
  overflow: scroll;
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--token-jqVColCgqWB_);
  min-width: 0;
}
.aboutSolar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  color: var(--token-jqVColCgqWB_);
}
.text__uLsN2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-T4EWqNTiWmkD);
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.aboutAccordion:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--token-jqVColCgqWB_);
  font-weight: 600;
  min-width: 0;
}
._1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--token-jqVColCgqWB_);
}
.text__eQuc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jqVColCgqWB_);
  min-width: 0;
}
.text__wm5Hm {
  color: #535353d9;
}
._2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--token-jqVColCgqWB_);
}
.text__eTsDz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jqVColCgqWB_);
  min-width: 0;
}
._3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-jqVColCgqWB_);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.text__hVzkT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jqVColCgqWB_);
  min-width: 0;
}
._4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--token-jqVColCgqWB_);
}
.text___81Nuz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jqVColCgqWB_);
  min-width: 0;
}
.text___9Alx {
  color: var(--token-jqVColCgqWB_);
}
.freeBox___06XUd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px;
}
.freeBox___06XUd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___06XUd > :global(.__wab_flex-container) > *,
.freeBox___06XUd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___06XUd > :global(.__wab_flex-container) > picture > img,
.freeBox___06XUd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__a4FZ7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__a4FZ7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__a4FZ7 > :global(.__wab_flex-container) > *,
.freeBox__a4FZ7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a4FZ7 > :global(.__wab_flex-container) > picture > img,
.freeBox__a4FZ7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1__lMKjz {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 33.9px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-T4EWqNTiWmkD);
  font-weight: 600;
  min-width: 0;
}
.h1__vp4Rf {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  color: var(--token-T4EWqNTiWmkD);
  min-width: 0;
}
.freeBox___2S0P7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.link__mc38O {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: #235936;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 8px;
  padding: 18px 12px;
}
.link__mc38O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__mc38O > :global(.__wab_flex-container) > *,
.link__mc38O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__mc38O > :global(.__wab_flex-container) > picture > img,
.link__mc38O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__mc38O {
    width: 248px;
  }
}
.learnPage .link__mc38O:hover {
  background: #1e472c;
}
.text__kxH1M {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 19.2px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
}
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-tJKvzZUfnP7Z);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    margin-top: 1245px;
    height: 1334px;
  }
}
.freeBox__pgDSx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-tJKvzZUfnP7Z);
  min-width: 0;
  padding: 0px;
}
.section5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 24px;
}
.section5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.brandLogo3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .brandLogo3 {
    align-items: center;
    justify-content: center;
  }
}
.img__mcBua {
  object-fit: cover;
  max-width: 50%;
  height: auto;
  width: 240px;
}
.img__mcBua > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mcBua {
    max-width: 100%;
  }
}
.section6 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-tJKvzZUfnP7Z);
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.section6 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.section6 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hzGqb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 24px;
}
.freeBox__lcvt9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px;
}
.freeBox__lcvt9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__lcvt9 > :global(.__wab_flex-container) > *,
.freeBox__lcvt9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lcvt9 > :global(.__wab_flex-container) > picture > img,
.freeBox__lcvt9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--token-zBmTwGqtft9O);
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    text-align: center;
  }
}
.text__yIUwX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  margin-bottom: 0px;
  padding-bottom: 24px;
  margin-top: calc(0px + 24px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
  border-bottom: 1px solid var(--token-_E0HushoLzmY);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yIUwX {
    text-align: justify;
    margin-top: calc(0px + 24px) !important;
  }
}
.text__qSPw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_E0HushoLzmY);
  text-align: left;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
.column__ouL0Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
.whereToFindUs3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-_E0HushoLzmY);
}
.freeBox__mv7Tz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5___5R7B {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-zBmTwGqtft9O);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5___5R7B {
    text-align: center;
  }
}
.freeBox__c7Ffh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__c7Ffh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__c7Ffh > :global(.__wab_flex-container) > *,
.freeBox__c7Ffh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c7Ffh > :global(.__wab_flex-container) > picture > img,
.freeBox__c7Ffh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c7Ffh > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__srTto {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.text__xkpp0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-size: 14px;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
.learnPage .text__xkpp0:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.connectWithUs4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-_E0HushoLzmY);
}
@media (min-width: 0px) and (max-width: 768px) {
  .connectWithUs4 {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__wlNrT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5__aVmpQ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-zBmTwGqtft9O);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__aVmpQ {
    text-align: center;
  }
}
.freeBox__zHked {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__zHked > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__zHked > :global(.__wab_flex-container) > *,
.freeBox__zHked > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zHked > :global(.__wab_flex-container) > picture > img,
.freeBox__zHked
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zHked > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg___36QaE {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__tw7Um {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.learnPage .link__tw7Um:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.freeBox___3FIwq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___3FIwq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___3FIwq > :global(.__wab_flex-container) > *,
.freeBox___3FIwq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3FIwq > :global(.__wab_flex-container) > picture > img,
.freeBox___3FIwq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3FIwq > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__nLah8 {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__sH0Ib {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.learnPage .link__sH0Ib:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.freeBox__nuNh1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nuNh1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__nuNh1 > :global(.__wab_flex-container) > *,
.freeBox__nuNh1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuNh1 > :global(.__wab_flex-container) > picture > img,
.freeBox__nuNh1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuNh1 > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__wv8Xg {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__rxm7T {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.learnPage .link__rxm7T:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.getSolar3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox___9Zoa7 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 24px;
}
.freeBox___9Zoa7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Zoa7 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Zoa7 > :global(.__wab_flex-container) > *,
  .freeBox___9Zoa7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9Zoa7 > :global(.__wab_flex-container) > picture > img,
  .freeBox___9Zoa7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 0px;
  }
}
.link___8TPg4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-x0i6rhc67hW4);
  font-family: "Open Sans", sans-serif;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
.link___8TPg4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___8TPg4 > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___8TPg4 > :global(.__wab_flex-container) > *,
  .link___8TPg4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link___8TPg4 > :global(.__wab_flex-container) > picture > img,
  .link___8TPg4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.h5__wIgk {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-zBmTwGqtft9O);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__wIgk {
    width: auto;
  }
}
.learnPage .h5__wIgk:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.svg__aEf7 {
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  color: var(--token-T4EWqNTiWmkD);
}
