.root:global(.__wab_instance) {
  position: relative;
  background: none;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-oAKYTaJy2m7l);
  font-family: var(--token-_FUwTpJ63ETq);
  font-size: var(--token-S-MXsPjDgg9M);
  line-height: var(--token-rq1na8ZlWZ4c);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-qObphTHxgQSz);
  padding: 16px 12px;
  border-width: 0px;
}
.root[data-hovered]:global(.__wab_instance) {
  color: #ffffff;
  background: var(--token-T4EWqNTiWmkD);
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-ww64K8sevB6v);
  outline-offset: 1px;
  outline-color: var(--token-T4EWqNTiWmkD);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-dV0z8kAMOuLG);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-JP-_oKkvKcfl);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-zQ9XKu_NRMzI);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-eDohe-BMQRZw);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-PW59i5NdAiVZ);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-KpgM8AsssxdW);
  font-size: var(--token-68BBBiayTv_p);
  column-gap: var(--token-ww64K8sevB6v);
  row-gap: 0px;
  border-radius: var(--token-lKngU25gA-o1);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-68BBBiayTv_p);
  line-height: var(--token-KpgM8AsssxdW);
  column-gap: var(--token-lKngU25gA-o1);
  row-gap: 0px;
  border-radius: var(--token-lKngU25gA-o1);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-LO-Qe_52yyz3);
  line-height: var(--token-kjx_YbNUcdHX);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-LO-Qe_52yyz3);
  line-height: var(--token-kjx_YbNUcdHX);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-NrtiK9XAHhgO);
  border-radius: var(--token-qObphTHxgQSz);
}
.softBackgroundcolor_neutral {
  background: var(--token-OvKyixdmUftm);
}
.softBackgroundcolor_muted {
  background: var(--token-kHeHyCrBhU4P);
}
.softBackgroundcolor_success {
  background: var(--token-CKuuRMBegU8r);
}
.softBackgroundcolor_warning {
  background: var(--token-kNufjCodNzpa);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-BOJJ4yq4Ibw2);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-qObphTHxgQSz);
  border: 0px solid var(--token-DChXDOTNQ-os);
}
.bordercolor_neutral {
  border-color: var(--token-cg2h-Q71Vstk);
}
.bordercolor_muted {
  border-color: var(--token-WV2OGPS_UUef);
}
.bordercolor_success {
  border-color: var(--token-R0c7oM_yXMLf);
}
.bordercolor_warning {
  border-color: var(--token-S9yZF666xpG8);
}
.bordercolor_errorDestructive {
  border-color: var(--token-GWD2yuoaLJfx);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-qObphTHxgQSz);
}
.root[data-hovered] .interactionEffect {
  background: var(--token--eJhSlklpgCD);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-dBXpu4HLVLZp);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-k2YUmLcp3A2e);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__npVsr {
  display: flex;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: 30px;
  padding: var(--token-qObphTHxgQSz) var(--token-Xj16SW_yfv3g) 0.375rem;
}
.freeBox__npVsr > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-qObphTHxgQSz));
  width: calc(100% + var(--token-qObphTHxgQSz));
}
.freeBox__npVsr > :global(.__wab_flex-container) > *,
.freeBox__npVsr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__npVsr > :global(.__wab_flex-container) > picture > img,
.freeBox__npVsr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-qObphTHxgQSz);
}
.freeBoxsize_extraSmall__npVsrDoHgb {
  padding: var(--token-lKngU25gA-o1) var(--token-qObphTHxgQSz);
}
.freeBoxsize_small__npVsrNlHwe {
  padding: var(--token-qObphTHxgQSz) var(--token-oAKYTaJy2m7l);
}
.freeBoxsize_large__npVsrrpUnW {
  padding-top: var(--token-lKngU25gA-o1);
  padding-bottom: var(--token-lKngU25gA-o1);
}
.freeBoxsize_extraLarge__npVsRzcrTa {
  padding-left: var(--token-Ojnokh-jXQx3);
  padding-right: var(--token-Ojnokh-jXQx3);
}
.freeBoxroundedFull__npVsRg9XSu {
  padding-right: var(--token-Ojnokh-jXQx3);
  padding-left: var(--token-Ojnokh-jXQx3);
}
.freeBox__xWyP {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__xWyPQxmkt {
  display: flex;
}
.slotTargetStart {
  color: var(--token-5Q4iTugim_fr);
}
.slotTargetStartcolor_neutral {
  color: var(--token-au2xVoQb3SUK);
}
.slotTargetStartcolor_muted {
  color: var(--token-4BwdHi_foJYo);
}
.slotTargetStartcolor_success {
  color: var(--token-wOdN75nh0f3J);
}
.slotTargetStartcolor_warning {
  color: var(--token-mjJJmXPBbrxG);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-xtNEr5QbYqYk);
}
.slotTargetStarttype_soft {
  color: var(--token-tJKvzZUfnP7Z);
}
.slotTargetStarttype_bordered {
  color: var(--token-tJKvzZUfnP7Z);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-68BBBiayTv_p);
}
.slotTargetStartsize_small {
  font-size: var(--token-68BBBiayTv_p);
}
.slotTargetStartsize_large {
  font-size: var(--token-LO-Qe_52yyz3);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-LO-Qe_52yyz3);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-vSZjtAvZxtOJ);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-vSZjtAvZxtOJ);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-tQ77XPjSD4DK);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-tQ77XPjSD4DK);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-SwhjC8Udktx3);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-SwhjC8Udktx3);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-lZ4oXD2me7hL);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-lZ4oXD2me7hL);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-5cNfwCuDTDXw);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-5cNfwCuDTDXw);
}
.svg___9OLcE {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-5Q4iTugim_fr);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-au2xVoQb3SUK);
}
.slotTargetLabelcolor_muted {
  color: var(--token-4BwdHi_foJYo);
}
.slotTargetLabelcolor_success {
  color: var(--token-wOdN75nh0f3J);
}
.slotTargetLabelcolor_warning {
  color: var(--token-mjJJmXPBbrxG);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-xtNEr5QbYqYk);
}
.slotTargetLabeltype_soft {
  color: var(--token-tJKvzZUfnP7Z);
}
.slotTargetLabeltype_bordered {
  color: var(--token-tJKvzZUfnP7Z);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-vSZjtAvZxtOJ);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-tQ77XPjSD4DK);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-vSZjtAvZxtOJ);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-SwhjC8Udktx3);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-tQ77XPjSD4DK);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-lZ4oXD2me7hL);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-SwhjC8Udktx3);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-5cNfwCuDTDXw);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-lZ4oXD2me7hL);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-5cNfwCuDTDXw);
}
.text__eWXt {
  white-space: pre;
}
.freeBox__zAjwn {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__zAjwNhWwPu {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-5Q4iTugim_fr);
}
.slotTargetEndcolor_neutral {
  color: var(--token-au2xVoQb3SUK);
}
.slotTargetEndcolor_muted {
  color: var(--token-4BwdHi_foJYo);
}
.slotTargetEndcolor_success {
  color: var(--token-wOdN75nh0f3J);
}
.slotTargetEndcolor_warning {
  color: var(--token-mjJJmXPBbrxG);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-xtNEr5QbYqYk);
}
.slotTargetEndtype_soft {
  color: var(--token-tJKvzZUfnP7Z);
}
.slotTargetEndtype_bordered {
  color: var(--token-tJKvzZUfnP7Z);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-68BBBiayTv_p);
}
.slotTargetEndsize_small {
  font-size: var(--token-68BBBiayTv_p);
}
.slotTargetEndsize_large {
  font-size: var(--token-LO-Qe_52yyz3);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-LO-Qe_52yyz3);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-vSZjtAvZxtOJ);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-vSZjtAvZxtOJ);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-tQ77XPjSD4DK);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-tQ77XPjSD4DK);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-SwhjC8Udktx3);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-SwhjC8Udktx3);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-lZ4oXD2me7hL);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-lZ4oXD2me7hL);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-5cNfwCuDTDXw);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-5cNfwCuDTDXw);
}
.svg__d1PI8 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
