.aboutPage {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.aboutPage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aboutPage > * {
    grid-column: 4;
  }
}
.landingPage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1024px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox__dLkfF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  background: url("/plasmic/copy_of_excell_website_final/images/youngAsianFemaleInspectorEngineerTouchingCheckingOperationPhotovoltaicSolarPanelOutdoorStationHoldingLaptopComputerLookingCameraWithSmileCopySpaceJpg.jpg") 0% 0% / cover no-repeat;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dLkfF {
    top: auto;
    left: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }
}
.heading {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.heading > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__koLfg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 48px 80px;
}
.column__koLfg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.column__koLfg > :global(.__wab_flex-container) > *,
.column__koLfg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__koLfg > :global(.__wab_flex-container) > picture > img,
.column__koLfg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__koLfg {
    padding: 24px;
  }
}
.freeBox__x61Iv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x61Iv {
    padding-left: 8px;
  }
}
.h1__wgnNw {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 300;
  align-self: center;
  min-width: 0;
  padding: 7px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__wgnNw {
    font-size: 40px;
    text-align: center;
    margin: 0px;
  }
}
.freeBox__fljgp {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 24px;
  padding: 48px 80px;
}
.freeBox__fljgp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__fljgp > :global(.__wab_flex-container) > *,
.freeBox__fljgp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fljgp > :global(.__wab_flex-container) > picture > img,
.freeBox__fljgp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fljgp {
    padding: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fljgp > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fljgp > :global(.__wab_flex-container) > *,
  .freeBox__fljgp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fljgp > :global(.__wab_flex-container) > picture > img,
  .freeBox__fljgp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.freeBox__t5He {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__t5He > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__t5He > :global(.__wab_flex-container) > *,
.freeBox__t5He > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t5He > :global(.__wab_flex-container) > picture > img,
.freeBox__t5He
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox___4H4Gx {
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-wOdN75nh0f3J);
  display: none;
  border-radius: 24px;
  padding: 8px 16px;
  border: 2px solid var(--token-T4EWqNTiWmkD);
}
.freeBox___4H4Gx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___4H4Gx > :global(.__wab_flex-container) > *,
.freeBox___4H4Gx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4H4Gx > :global(.__wab_flex-container) > picture > img,
.freeBox___4H4Gx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__bfNhW {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.label {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-T4EWqNTiWmkD);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 0px;
}
.h1__tCggl {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  color: var(--token-T4EWqNTiWmkD);
  line-height: 1;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__tCggl {
    font-size: 24px;
  }
}
.freeBox___1HsJv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___1HsJv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___1HsJv > :global(.__wab_flex-container) > *,
.freeBox___1HsJv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1HsJv > :global(.__wab_flex-container) > picture > img,
.freeBox___1HsJv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.text___2HXz1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-jqVColCgqWB_);
  text-align: justify;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2HXz1 {
    font-size: 16px;
  }
}
.link__cBst {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: #235936;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 8px;
  padding: 18px 12px;
}
.link__cBst > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__cBst > :global(.__wab_flex-container) > *,
.link__cBst > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__cBst > :global(.__wab_flex-container) > picture > img,
.link__cBst
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__cBst {
    width: 248px;
  }
}
.aboutPage .link__cBst:hover {
  background: #1e472c;
}
.img__gEjmA {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  align-self: center;
  flex-shrink: 0;
}
.img__gEjmA > picture > img {
  object-fit: cover;
}
.text___9WzDf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 19.2px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
  background: #ffffff;
  align-content: center;
  color: var(--token-jqVColCgqWB_);
  left: 0px;
  top: 0px;
  z-index: 999;
  position: absolute;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    align-content: flex-start;
    justify-content: flex-end;
    line-height: 0;
    color: var(--token-jqVColCgqWB_);
    padding-bottom: 24px;
    padding-top: 16px;
    margin: 0px;
  }
}
.logo7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
  padding: 0px;
}
.img__dpzm2 {
  object-fit: cover;
  height: 40px;
  max-width: 298px;
  width: 100%;
  min-width: 0;
  display: none;
}
.img__dpzm2 > picture > img {
  object-fit: cover;
}
.img__tXGwJ {
  object-fit: cover;
  width: 32px;
}
.img__tXGwJ > picture > img {
  object-fit: cover;
}
.img__aDk4Q {
  object-fit: cover;
  width: 32px;
}
.img__aDk4Q > picture > img {
  object-fit: cover;
}
.link__xdcbc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  color: var(--token-jqVColCgqWB_);
  margin-right: 0px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.aboutPage .link__xdcbc:hover {
  color: var(--token-T4EWqNTiWmkD);
  transform: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
.solution4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jqVColCgqWB_);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.aboutPage .solution4:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.link__hU0Iy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jqVColCgqWB_);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.aboutPage .link__hU0Iy:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.logo8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo8 {
    display: none;
  }
}
.img__flq8K {
  object-fit: cover;
  height: 64px;
  max-width: 298px;
  width: 100%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.img__flq8K > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__flq8K {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__flq8K > picture > img {
    object-fit: contain;
  }
}
.link__e8WBm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-jqVColCgqWB_);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.aboutPage .link__e8WBm:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.link__rpVd7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-jqVColCgqWB_);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.aboutPage .link__rpVd7:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.link__ldwj9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-jqVColCgqWB_);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ldwj9 {
    padding-bottom: 24px;
  }
}
.aboutPage .link__ldwj9:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.behindExcell {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 48px 80px;
}
.behindExcell > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  min-height: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.behindExcell > :global(.__wab_flex-container) > *,
.behindExcell > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.behindExcell > :global(.__wab_flex-container) > picture > img,
.behindExcell
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .behindExcell {
    height: 1113px;
    padding: 24px;
  }
}
.columns__i4VL7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 48px;
}
.columns__i4VL7 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  --plsmc-rc-col-gap: 48px;
}
.columns__i4VL7 > :global(.__wab_flex-container) > *,
.columns__i4VL7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__i4VL7 > :global(.__wab_flex-container) > picture > img,
.columns__i4VL7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.columns__i4VL7 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__i4VL7 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i4VL7 {
    width: 100%;
    height: 100%;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    padding: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i4VL7 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i4VL7 > :global(.__wab_flex-container) > *,
  .columns__i4VL7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__i4VL7 > :global(.__wab_flex-container) > picture > img,
  .columns__i4VL7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i4VL7 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zClQ2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__zClQ2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.column__zClQ2 > :global(.__wab_flex-container) > *,
.column__zClQ2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__zClQ2 > :global(.__wab_flex-container) > picture > img,
.column__zClQ2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.h1__xt22Z {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-T4EWqNTiWmkD);
  min-width: 0;
}
.text__yp0Wj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-jqVColCgqWB_);
  font-size: 18px;
  text-align: justify;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yp0Wj {
    padding-top: 0px;
  }
}
.link__sWtrD {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: none;
  color: var(--token-T4EWqNTiWmkD);
  font-family: "Open Sans", sans-serif;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 8px;
  padding: 18px 12px;
  border: 2px solid var(--token-T4EWqNTiWmkD);
}
.link__sWtrD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__sWtrD > :global(.__wab_flex-container) > *,
.link__sWtrD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__sWtrD > :global(.__wab_flex-container) > picture > img,
.link__sWtrD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__sWtrD {
    width: 314px;
  }
}
.aboutPage .link__sWtrD:hover {
  background: var(--token-T4EWqNTiWmkD);
  color: var(--token-zy6xhYnWF8Y7);
  border-color: var(--token-zBmTwGqtft9O);
}
.text__yvIl4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.svg__hdleP {
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  align-self: center;
  flex-shrink: 0;
}
.column__pkT3Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__u8BDp {
  object-fit: cover;
  max-width: 100%;
  border-radius: 24px;
}
.img__u8BDp > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__u8BDp {
    height: 100%;
    min-height: 0;
  }
}
.renewableEnergy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-zBmTwGqtft9O);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 48px 80px;
}
.renewableEnergy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  min-height: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.renewableEnergy > :global(.__wab_flex-container) > *,
.renewableEnergy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.renewableEnergy > :global(.__wab_flex-container) > picture > img,
.renewableEnergy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .renewableEnergy {
    height: 1113px;
    padding: 24px;
  }
}
.columns__fbCiv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 48px;
}
.columns__fbCiv > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  --plsmc-rc-col-gap: 48px;
}
.columns__fbCiv > :global(.__wab_flex-container) > *,
.columns__fbCiv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__fbCiv > :global(.__wab_flex-container) > picture > img,
.columns__fbCiv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.columns__fbCiv > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__fbCiv > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fbCiv {
    width: 100%;
    height: 100%;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    padding: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fbCiv > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fbCiv > :global(.__wab_flex-container) > *,
  .columns__fbCiv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__fbCiv > :global(.__wab_flex-container) > picture > img,
  .columns__fbCiv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fbCiv > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__opiM5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__aIn6 {
  object-fit: cover;
  max-width: 100%;
  border-radius: 24px;
}
.img__aIn6 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__aIn6 {
    height: 100%;
    min-height: 0;
  }
}
.column___0BDiV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column___0BDiV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.column___0BDiV > :global(.__wab_flex-container) > *,
.column___0BDiV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___0BDiV > :global(.__wab_flex-container) > picture > img,
.column___0BDiV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.h1__fdxzw {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-T4EWqNTiWmkD);
  margin-top: calc(0px + 48px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__fdxzw {
    margin-top: calc(0px + 48px) !important;
  }
}
.text___1Rx71 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-jqVColCgqWB_);
  font-size: 18px;
  text-align: justify;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1Rx71 {
    padding-top: 0px;
  }
}
.link__tXhwK {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: none;
  color: var(--token-T4EWqNTiWmkD);
  font-family: "Open Sans", sans-serif;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 8px;
  padding: 18px 12px;
  border: 2px solid var(--token-T4EWqNTiWmkD);
}
.link__tXhwK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__tXhwK > :global(.__wab_flex-container) > *,
.link__tXhwK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__tXhwK > :global(.__wab_flex-container) > picture > img,
.link__tXhwK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__tXhwK {
    width: 314px;
  }
}
.aboutPage .link__tXhwK:hover {
  background: var(--token-T4EWqNTiWmkD);
  color: var(--token-zy6xhYnWF8Y7);
  border-color: var(--token-zBmTwGqtft9O);
}
.text__yxxsj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.svg__vx55S {
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  align-self: center;
  flex-shrink: 0;
}
.companyCards {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 48px 80px;
}
.companyCards > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  min-height: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.companyCards > :global(.__wab_flex-container) > *,
.companyCards > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.companyCards > :global(.__wab_flex-container) > picture > img,
.companyCards
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .companyCards {
    height: 1113px;
    padding: 36px;
  }
}
.columns__jTnTl {
  display: flex;
  position: relative;
  width: auto;
  height: 100%;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  margin-right: 0px;
  flex-grow: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 24px 80px;
}
.columns__jTnTl > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  --plsmc-rc-col-gap: 48px;
}
.columns__jTnTl > :global(.__wab_flex-container) > *,
.columns__jTnTl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__jTnTl > :global(.__wab_flex-container) > picture > img,
.columns__jTnTl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.columns__jTnTl > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jTnTl {
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding-right: 24px;
    padding-left: 24px;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jTnTl > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jTnTl > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___96Mh7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column___96Mh7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___96Mh7 > :global(.__wab_flex-container) > *,
.column___96Mh7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___96Mh7 > :global(.__wab_flex-container) > picture > img,
.column___96Mh7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: var(--token-T4EWqNTiWmkD);
  font-weight: 400;
  font-size: 33.9px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    text-align: center;
  }
}
.freeBox__zBqY {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__zBqY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__zBqY > :global(.__wab_flex-container) > *,
.freeBox__zBqY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zBqY > :global(.__wab_flex-container) > picture > img,
.freeBox__zBqY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zBqY {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zBqY > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zBqY > :global(.__wab_flex-container) > *,
  .freeBox__zBqY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zBqY > :global(.__wab_flex-container) > picture > img,
  .freeBox__zBqY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.reveal___5Rlxb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.card7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 220px;
  height: 120px;
  max-width: 100%;
  box-shadow: none;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 8px;
}
.card7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card7 > :global(.__wab_flex-container) > *,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card7 > :global(.__wab_flex-container) > picture > img,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card7 {
    padding: 16px;
  }
}
.img__j595O {
  object-fit: cover;
  max-width: 100%;
  width: 220px;
}
.img__j595O > picture > img {
  object-fit: cover;
}
.reveal__ex8Fc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.card8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 220px;
  height: 120px;
  max-width: 100%;
  box-shadow: none;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 24px;
}
.card8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card8 > :global(.__wab_flex-container) > *,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card8 > :global(.__wab_flex-container) > picture > img,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card8 {
    padding: 16px;
  }
}
.img__dyIcg {
  object-fit: cover;
  max-width: 100%;
  width: 220px;
}
.img__dyIcg > picture > img {
  object-fit: cover;
}
.reveal__aojX1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.card9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 220px;
  height: 120px;
  max-width: 100%;
  box-shadow: none;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 24px;
}
.card9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card9 > :global(.__wab_flex-container) > *,
.card9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card9 > :global(.__wab_flex-container) > picture > img,
.card9 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card9 {
    padding: 16px;
  }
}
.img___6G6 {
  object-fit: cover;
  max-width: 100%;
  width: 220px;
}
.img___6G6 > picture > img {
  object-fit: cover;
}
.reveal__q9L0H:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.card10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 220px;
  height: 120px;
  max-width: 100%;
  box-shadow: none;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 24px;
}
.card10 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card10 > :global(.__wab_flex-container) > *,
.card10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card10 > :global(.__wab_flex-container) > picture > img,
.card10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card10 {
    padding: 16px;
  }
}
.img__uaLf {
  object-fit: contain;
  max-width: 100%;
  width: 220px;
}
.img__uaLf > picture > img {
  object-fit: contain;
}
.card11 {
  flex-direction: column;
  position: relative;
  width: 360px;
  height: 440px;
  max-width: 100%;
  flex-shrink: 0;
  display: none;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #cccccc;
}
.card11 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card11 > :global(.__wab_flex-container) > *,
.card11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card11 > :global(.__wab_flex-container) > picture > img,
.card11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__ubLto {
  object-fit: cover;
  max-width: 100%;
}
.img__ubLto > picture > img {
  object-fit: cover;
}
.h3__gukts {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__wsRn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.card12 {
  flex-direction: column;
  position: relative;
  width: 360px;
  height: 440px;
  max-width: 100%;
  flex-shrink: 0;
  display: none;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #cccccc;
}
.card12 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card12 > :global(.__wab_flex-container) > *,
.card12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card12 > :global(.__wab_flex-container) > picture > img,
.card12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__uzxxt {
  object-fit: cover;
  max-width: 100%;
}
.img__uzxxt > picture > img {
  object-fit: cover;
}
.h3__pkzqV {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__vZzX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-tJKvzZUfnP7Z);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
.freeBox__zSXs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-tJKvzZUfnP7Z);
  min-width: 0;
  padding: 0px;
}
.section5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 24px;
}
.section5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.brandLogo3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .brandLogo3 {
    align-items: center;
    justify-content: center;
  }
}
.img__siEd {
  object-fit: cover;
  max-width: 50%;
  height: auto;
  width: 240px;
}
.img__siEd > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__siEd {
    max-width: 100%;
  }
}
.section6 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-tJKvzZUfnP7Z);
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.section6 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.section6 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__a7Ghv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 24px;
}
.freeBox__h2T3F {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px;
}
.freeBox__h2T3F > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__h2T3F > :global(.__wab_flex-container) > *,
.freeBox__h2T3F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h2T3F > :global(.__wab_flex-container) > picture > img,
.freeBox__h2T3F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--token-zBmTwGqtft9O);
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    text-align: center;
  }
}
.text__z4HMy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  margin-bottom: 0px;
  padding-bottom: 24px;
  margin-top: calc(0px + 24px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
  border-bottom: 1px solid var(--token-_E0HushoLzmY);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z4HMy {
    text-align: justify;
    margin-top: calc(0px + 24px) !important;
  }
}
.text__jgSmA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_E0HushoLzmY);
  text-align: left;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
.column__zjmNp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
.whereToFindUs3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-_E0HushoLzmY);
}
.freeBox__ueQuy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5__r7D2S {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-zBmTwGqtft9O);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__r7D2S {
    text-align: center;
  }
}
.freeBox__qygJv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qygJv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__qygJv > :global(.__wab_flex-container) > *,
.freeBox__qygJv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qygJv > :global(.__wab_flex-container) > picture > img,
.freeBox__qygJv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qygJv > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg___0Z22U {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.text__z8Xub {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-size: 14px;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
.aboutPage .text__z8Xub:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.connectWithUs4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-_E0HushoLzmY);
}
@media (min-width: 0px) and (max-width: 768px) {
  .connectWithUs4 {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__ylOdr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5__oaIis {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-zBmTwGqtft9O);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__oaIis {
    text-align: center;
  }
}
.freeBox__useei {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__useei > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__useei > :global(.__wab_flex-container) > *,
.freeBox__useei > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__useei > :global(.__wab_flex-container) > picture > img,
.freeBox__useei
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__useei > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg___0Wau1 {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link___7OqDw {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.aboutPage .link___7OqDw:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.freeBox___8AtN {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8AtN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___8AtN > :global(.__wab_flex-container) > *,
.freeBox___8AtN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8AtN > :global(.__wab_flex-container) > picture > img,
.freeBox___8AtN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8AtN > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__avYy9 {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__fj2As {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.aboutPage .link__fj2As:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.freeBox__jaqbM {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jaqbM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__jaqbM > :global(.__wab_flex-container) > *,
.freeBox__jaqbM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jaqbM > :global(.__wab_flex-container) > picture > img,
.freeBox__jaqbM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jaqbM > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__z8Uoh {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__kJoyf {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.aboutPage .link__kJoyf:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.getSolar3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__usnLf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 24px;
}
.freeBox__usnLf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__usnLf > :global(.__wab_flex-container) {
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__usnLf > :global(.__wab_flex-container) > *,
  .freeBox__usnLf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__usnLf > :global(.__wab_flex-container) > picture > img,
  .freeBox__usnLf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 0px;
  }
}
.link__yKlqu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-x0i6rhc67hW4);
  font-family: "Open Sans", sans-serif;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
.link__yKlqu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yKlqu > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yKlqu > :global(.__wab_flex-container) > *,
  .link__yKlqu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__yKlqu > :global(.__wab_flex-container) > picture > img,
  .link__yKlqu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.h5__ftqel {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-zBmTwGqtft9O);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__ftqel {
    width: auto;
  }
}
.aboutPage .h5__ftqel:hover {
  color: var(--token-T4EWqNTiWmkD);
}
.svg__aoMnG {
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  color: var(--token-T4EWqNTiWmkD);
}
